/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/SubVisual.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
/* 상단 비주얼 이미지 */
.visual-section {
  margin-bottom: 5rem;
  text-align: center;
}

.visual-content {
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10rem;
  box-sizing: border-box;
}

.visual-content .visual-content-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
  gap: 1rem;
}

.visual-content-text h1 {
  line-height: 6.4rem;
  font-size: 4.8rem;
  font-weight: 800;
}

.bread-crumb {
  display: flex;
  align-items: center;
  gap: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.bread-crumb li {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}

.bread-crumb li:before {
  content: "";
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 1.2rem;
}

.bread-crumb li:first-child:before {
  display: none;
}

.bread-crumb-home a {
  width: 2rem;
  height: 2rem;
  display: block;
  background-image: url('/images/icons/icon_bc_home.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.bread-crumb-home span {
  display: none;
}

.bread-crumb-active a {
  color: #fff;
  font-weight: 600;
  color: #fff;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .visual-content-text h1 {
    font-size: 2.5rem;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/SubLeftMenu.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* 왼쪽 사이드바 */
.sub-sidebar {
  min-width: 28rem;
  background: #f8f9fa;
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  z-index: 50rk;
  align-self: start;
  height: 100vh;
}

.sub-sidebar h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
  padding: 3.2rem 2.4rem;
  border-radius: 1.6rem;
  min-height: 16rem;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  line-height: 1;
}

.sub-sidebar .sub-sidebar-inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 3.2rem;
  padding: 1.6rem;
  background-color: #fff;
  border-radius: 2.4rem;
  box-shadow: 0 6px 13px 0 rgba(18, 74, 126, 0.03);
  box-sizing: border-box;
}

.sub-sidebar .sub-sidebar-inner ul {
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar-link {
  border-radius: 10rem;
  padding: 0 1.6rem 0 2.4rem;
  display: block;
  height: 6.4rem;
  line-height: 6.4rem;
  color: #111;
  font-weight: 600;
  background-color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.sidebar-link.active,
.sidebar-link:hover {
  background: #62ABFF;
  color: #fff;
  transition: all 0.3s ease;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
  .sub-sidebar {
    width: 100%;
  }
}

