.wid-30p {
    width: 30%;
}

.wid-40p {
    width: 40%;
}

.wid-50p {
    width: 50%;
}

.wid-60p {
    width: 60%;
}

.wid-70p {
    width: 70%;
}

.wid-80p {
    width: 80%;
}

.wid-90p {
    width: 90%;
}

.wid-100p {
    width: 100%;
}

.flex-1 {
    flex: 1;
}