.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
}

.logo h1 {
  margin: 0;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(45deg, #fff, #f0f0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navigation {
  display: flex;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation .nav-gnb {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.8rem;
}

.navigation .nav-gnb a {
  color: #111;
  font-size: 2.2rem;
  font-weight: 700;
  width: 12rem;
  display: block;
  text-align: center;
  transition: all 0.2s ease;
}
.navigation .nav-gnb a:hover {
  color: #408DED;
  transition: all 0.2s ease;
}

.nav-user {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav-util .nav-user-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
}

.nav-util .nav-util-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav-util {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav-user-list .nav-user-name {
  color: #111;
  font-size: 1.8rem;
  font-weight: 600;
}

.nav-user-list .user-log-wrap {
  color: #545454;
  font-size: 1.8rem;
  font-weight: 400;
}

.nav-util .nav-util-list a {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}


.nav-util select {
  background: none;
  border: 1px solid #D9E3ED;
  background-color: #f4f6f8;
  border-radius: .8rem;
  appearance: none;
  /* 표준 */
  -webkit-appearance: none;
  /* 크롬, 사파리 */
  -moz-appearance: none;
  /* 파이어폭스 */
  font-size: 1.5rem;
  color: #111;
  font-weight: 400;
  display: block;
  background-image: url('./images/icons/icon_header_sel_ar.svg');
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-size: 1.6rem;
  height: 3.4rem;
  line-height: 3.4rem;
}

.nav-util .util-alarm-wrap {
  position: relative;
}

.nav-util .util-alarm-wrap em {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 10rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-util .util-vertical-line {
  width: 0.2rem;
  height: 1.6rem;
  background-color: #DFE3E8;
  display: block;
}

