@charset "utf-8";
@import url('./assets/css/components.css');
@import url('./assets/css/common.css');

@font-face {
  font-family: 'PretendardGOV';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/PretendardGOV-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PretendardGOV';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/PretendardGOV-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PretendardGOV';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/PretendardGOV-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PretendardGOV';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/PretendardGOV-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PretendardGOV';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/PretendardGOV-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PretendardGOV';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/PretendardGOV-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

figure {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Pretendard GOV', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #111;
}

html {
  font-size: 62.5%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  background: none;
  /*outline: none;*/
  padding: 0;
  cursor: pointer;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

em {
  font-style: normal;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

select {
  font-size: 1.5rem;
  height: 4.8rem;
  line-height: 4.8rem;
  padding: 0 3.5rem 0 1.4rem;
  border-radius: 0.8rem;
  background-color: #fff;
  border: 1px solid #D4DDE6;
  background: none;
  appearance: none;
  /* 표준 */
  -webkit-appearance: none;
  /* 크롬, 사파리 */
  -moz-appearance: none;
  /* 파이어폭스 */
  background-image: url('./images/icons/icon_sel_ar.svg');
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-size: 1.6rem;
  box-sizing: border-box;
}
textarea {
  font-family: inherit;
}

label.input {
  font-size: 1.5rem;
  height: 4.8rem;
  line-height: 4.8rem;
  border-radius: 0.8rem;
  background-color: #fff;
  border: 1px solid #D4DDE6;
  box-sizing: border-box;
  position: relative;
  padding: 0 1.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input[type="text"] {
  font-size: 1.5rem;
  color: #111;
  box-sizing: border-box;
  height: 4.8rem;
  line-height: 4.8rem;
}

input:focus-visible {
  outline: none;
}

button {
  font-size: 1.8rem;
  font-weight: 700;
  height: 4.8rem;
  line-height: 4.8rem;
  padding: 0 3.2rem;
  border: 1px solid #fff;
  border-radius: 0.8rem;
  box-sizing: border-box;
}

.search-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 40px 0 16px;
  font-size: 14px;
  background-image: url('./images/icons/icon_input_srch.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
}